@media (max-width: 1420px) {
  .img1 {
    width: 200px;
    height: 150px;
  }
  .img2 {
    left: 0;
    width: 220px;
    height: 180px;
  }
  .mainvideo_div {
    max-width: 350px;
    width: 100%;
    height: 250px;
    left: 32%;
    top: 230px;
  }
  .img3 {
    left: 77%;
  }
  .img4 {
    left: 77%;
    width: 150px;
    border-radius: 5px;
  }
}
@media (max-width: 780px) {
  .img1 {
    width: 135px;
    height: 104px;
    top: 0;
  }
  .img2 {
    width: 175px;
    height: 128px;
    top: 130px;
    left: 74px;
  }
  .mainvideo_div {
    max-width: 280px;
    width: 100%;
    height: 200px;
    top: 280px;
  }
  .img3 {
    width: 93px;
    height: 72px;
    left: 80%;
    top: 530px;
  }
  .img4 {
    width: 135px;
    height: 104px;
    top: 630px;
  }
  .donation_box {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .events_infobox {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 208px;
    border-radius: 12px;
    background: #f3f2e7;
  }
  #video_tag {
    max-width: 350px;
    width: 100%;
    height: 250px;
    display: flex;
    position: relative;
    opacity: 1;
    border-radius: 10px;
  }
  #close_button {
    left: 300px;
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
@media (max-width: 1230px) {
  #explore_box1,
  #explore_box2 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .animation {
    display: flex;
    flex-direction: column;
    max-height: 1380px;
    overflow: hidden;
  }
  @keyframes heightanimation {
    0% {
      max-height: 1380px;
    }
    100% {
      max-height: 2760px;
    }
  }
  @keyframes heightanimationReverse {
    0% {
      max-height: 2760px;
    }
    100% {
      max-height: 1380px;
    }
  }
  #volunteer_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    max-height: 1550px;
  }
  .volunteer_animate {
    animation: volunteeranimation 1.5s forwards;
  }
  .volunteer_animate_reverse {
    animation: volunteeranimationReverse 1.5s forwards;
  }
  @keyframes volunteeranimation {
    0% {
      max-height: 1550px;
    }
    100% {
      max-height: 3200px;
    }
  }
  @keyframes volunteeranimationReverse {
    0% {
      max-height: 3200px;
    }
    100% {
      max-height: 1550px;
    }
  }
}
@media (max-width: 620px) {
  .img3 {
    left: 58%;
  }
  .img4 {
    left: 60%;
  }
  .Charity,
  .Food,
  .Water {
    max-width: 329px;
    width: 100%;
    height: 416px;
  }
  .ic_div {
    gap: 25px;
  }
  .icon_head {
    font-family: Rowdies;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .line_div {
    max-width: 274px;
    width: 100%;
    height: 2px;
  }
  .services_header {
    font-family: Rowdies;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .contactus_btn {
    width: 131px;
    height: 48px;
  }
  .donation_btn {
    width: 188px;
    height: 48px;
  }
  .donation_header {
    font-family: Rowdies;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .donation_span {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .events_heading {
    font-family: Rowdies;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .events_infobox {
    max-width: 329px;
    width: 100%;
    height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .infobox_left {
    max-width: 329px;
    width: 100%;
    height: 208px;
    border-radius: 12px 12px 0px 0px;
    background-size: cover;
  }
  .infobox_right {
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .line_div2 {
    max-width: 274px;
    height: 1px;
    position: absolute;
    top: 312px;
  }
  .event_buttonbox {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
  }
  #events_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1440px;
    width: 100%;
    max-height: 1270px;
    align-items: center;
    overflow: hidden;
  }
  .event_animate {
    animation: eventanimation 1.5s forwards;
  }
  .event_animate_reverse {
    animation: eventanimationReverse 1.5s forwards;
  }
  @keyframes eventanimation {
    0% {
      max-height: 1270px;
    }
    100% {
      max-height: 2540px;
    }
  }
  @keyframes eventanimationReverse {
    0% {
      max-height: 2540px;
    }
    100% {
      max-height: 1270px;
    }
  }
  .volunteers {
    font-family: Rowdies;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header_volunteers {
    font-family: Rowdies;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .line_div3 {
    max-width: 80%;
    width: 100%;
    height: 1px;
  }
  .child_mainbox {
    max-width: 329px;
    width: 100%;
    height: 544px;
    border-radius: 12px;
    background: #fff;
    padding: 27px;
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .child_swiper {
    max-width: 274px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .grayswiper_box1,
  .grayswiper_box2,
  .grayswiper_box3,
  .grayswiper_box6,
  .grayswiper_box7,
  .grayswiper_box8 {
    display: none;
  }
}
@media (max-width: 420px) {
  .mainvideo_div {
    left: 15%;
  }
  .line_div {
    width: 80%;
  }
}