.charity_help {
  width: 100%;
  padding: 51px 26px;
  transition: 1s;
}
.charity_help_content {
  padding: 0;
}
.footer_circle {
  top: -25px;
  left: 147px;
  transform: rotate(90deg);
}
.footer_orange_background {
  border-radius: 0;
}
.sec_help_rec {
  transform: rotate(-50deg);
  top: -12px;
  right: -887px;
}
