@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&family=Big+Shoulders+Display:wght@100..900&family=Bungee+Spice&family=Coda:wght@400;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&family=Big+Shoulders+Display:wght@100..900&family=Bungee+Spice&family=Coda:wght@400;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: "Manrope", sans-serif; */
/* font-family: "Rowdies", sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f2e7;
  transition: 1s linear;
  overflow-x: hidden;
}
main {
  width: 100%;
  padding: 20px 26px;
  display: flex;
  flex-direction: column;
}

.intro-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ------------------------------------------------ NAV -------------------------------------------------------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 68px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: remove linear 0.5s;
}
.hamburger-menu {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #7e8ab8;
  position: relative;
  cursor: pointer;
  transition: 1s linear;
}
.line-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.line{
  width: 70%;
  height: 2px;
  background: #7e8ab8;
  transition: 0.5s linear;
}
.rotate1{
  transform: rotate(45deg);
  width: 60%;
  margin-top: 5px;
}
.rotate2{
  transform: rotate(-45deg);
  margin-top: -7px;
  width: 60%;
}
.rotate3{
  transform: translateX(20px);
  opacity: 0;
}
.hamburger-menu.active {
  .menuX {
    display: block;
  }
  .hamburger {
    display: none;
  }
}
.menuX {
  display: none;
}

.logo-heading {
  color: #3a1700;
  font-family: Rowdies;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -1px;
  z-index: 1;
}

.logo-orange-background {
  width: 1330px;
  height: 900px;
  top: -573px;
  left: -1270px;
  transform: rotate(45deg);
  position: absolute;
  border-radius: 80px;
  background-color: #e29f72;
  z-index: -9999;
}
.logo-background svg {
  position: absolute;
  left: -20px;
  top: 140px;
  z-index: -3;
}
.nav-bar ul {
  max-width: 496px;
  width: 100%;
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-bar ul li {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
}
.nav-bar ul li a{
  color: #3a1700;
  text-decoration: none;
}
.nav-bar.active {
  opacity: 1;
  transition: 1s;
  top: 0;
  height: 500px;
}

.contact-btn {
  width: 138px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid rgba(126, 138, 184, 0.3);
  color: rgba(126, 138, 184, 0.3);
  color: #7e8ab8;
  font-family: Rowdies;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s linear;
}
.contact-btn:hover {
  background-color: #7e8ab8;
  color: white;
  box-shadow: 0 0 10px #7e8ab8;
}

/* -------------------------------- INTRO_CONTENT ------------------------------------------------------------ */

.intro-content {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.intro-content-heading {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.intro-content-heading h1 {
  max-width: 380px;
  width: 100%;
  color: #3a1700;
  font-family: Rowdies;
  font-size: 72px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -3px;
  transition: 0.5s linear;
}
.intro-content-heading p {
  max-width: 370px;
  width: 100%;
  color: rgba(58, 23, 0, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.intro-content-btn {
  width: 202px;
  height: 48px;
  border-radius: 24px;
  background: #7e8ab8;
  border: none;
  color: #fff;
  font-family: Rowdies;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.intro-content-btn:hover {
  background-color: transparent;
  border: 1px solid #7e8ab8;
  color: #7e8ab8;
  box-shadow: 0 0 5px #7e8ab8;
}
.donate-img {
  max-width: 637px;
  max-height: 637px;
  width: 100%;
  height: 100%;
}
.intro-content-picture{
  z-index: -3;
}
.intro-content-rectangle {
  position: absolute;
}

/*------------------------------------------- FEATURES_SECTION -------------------------------------------- */





/* MEDIA */

@media (max-width: 1000px) {
  .intro-content-heading h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .intro-content-heading {
    gap: 20px;
  }
  .intro-section {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 0px;
    position: absolute;
    top: -100%;
    left: 0;
    border-bottom: 3px solid #7e8ab8;
    padding-top: 88px;
    padding-bottom: 20px;
    background-color: #f3f2e7;
    z-index: -2;
    opacity: 0;
    transition: 1.5s;
  }
  .intro-section {
    gap: 20px;
  }
  .nav-bar ul {
    flex-direction: column;
    text-align: center;
  }
  .hamburger-menu {
    display: flex;
  }
  .intro-content {
    flex-direction: column-reverse;
  }
  .donate-img {
    max-width: 500px;
    max-height: 500px;
  }
}

@media(max-width : 450px){
  main{
    padding: 16px 20px;
  }
  .donate-img{
    min-width: 366px;
  }
  .intro-content-heading h1 {
    font-size: 56px;
    line-height: 64px;
  }
}